<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goddard UI</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="/static/style.css" type="text/css">

</head>
<body>


<h1 style="text-align:center;">Goddard</h1>
<p style="text-align:center;">
    Friendship: <span id="FriRes">Friendship</span>
</p>
<div style="text-align:center;">
    <a class="btn btn-lg btn-success" href="#" id="feed">Feed</a>
    <a class="btn btn-lg btn-success" href="#" id="rest">Rest</a>
    <a class="btn btn-lg btn-success" href="#" id="play">Play</a>
</div>
<div style="text-align:center;">
    <a class="btn btn-lg btn-success" href="#" id="heal">Heal</a>
    <a class="btn btn-lg btn-success" href="#" id="train">Train</a>
</div>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function action(cmd) {
        $.getJSON($SCRIPT_ROOT + "/get_" + cmd, {}, function (data) {
            $("#FriRes").text(data.result);
        });
        return false;
    }

    action("fri")

    $(function () {
        $('a#rest').bind('click', function () {
            action("rest")
        });
    });
    $(function () {
        $('a#feed').bind('click', function () {
            action("feed")
        });
    });
    $(function () {
        $('a#play').bind('click', function () {
            action("play")
        });
    });
    $(function () {
        $('a#heal').bind('click', function () {
            action("heal")
        });
    });
    $(function () {
        $('a#train').bind('click', function () {
            action("train")
        });
    });
</script>
</body>
</html>
