<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goddard</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="/static/style.css" type="text/css">

</head>
<body>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function action(cmd) {
        $.getJSON($SCRIPT_ROOT + "/get_" + cmd, {}, function (data) {
            $("#FriRes").text(data.result);
        });
        return false;
    }

    $(function () {
        $('a#rest').bind('click', function () {
            action("rest")
        });
    });
    $(function () {
        $('a#feed').bind('click', function () {
            action("feed")
        });
    });
    $(function () {
        $('a#play').bind('click', function () {
            action("play")
        });
    });
    $(function () {
        $('a#heal').bind('click', function () {
            action("heal")
        });
    });
    $(function () {
        $('a#train').bind('click', function () {
            action("train")
        });
    });

</script>

<h1>Robo</h1>
<p>
    Friendship: <span id="FriRes">Friendship</span>
</p>
<button type="button" id="feed" class="btn btn-lg btn-success" style="color:white"><a href="#">Feed</a></button>
<button type="button" id="rest" class="btn btn-lg btn-success"><a href="#">Rest</a></button>
<button type="button" id="play" class="btn btn-lg btn-success"><a href="#">Play</a></button>
<button type="button" id="heal" class="btn btn-lg btn-success"><a href="#">Heal</a></button>
<button type="button" id="train" class="btn btn-lg btn-success"><a href="#">Train</a></button>
</body>
</html>
